<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Informacion de Pago
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <br>
  <ion-card>
    <ion-card-header>
      Tarjeta
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Numero Tarjeta</ion-label>
              <ion-input placeholder="XXXX-XXXX-XXXX-XXXX" maxlength=16 [(ngModel)]="card.cardNumber" (input)="cardNumberChange($event)"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Tipo</ion-label>
              <ion-input [(ngModel)]="card.cardType" disabled="true"></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      
        <ion-row>
          <ion-col>
            <ion-item>
              <ion-label>Mes</ion-label>
              <ion-input placeholder="00" maxlength=2 type="numeric"></ion-input>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-label>Año</ion-label>
              <ion-input placeholder="00" maxlength=2 type="numeric" ></ion-input>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <br>
  <ion-button expand="full" (click)="getCard()">
    Escanear tarjeta
  </ion-button>

  <br>
  <ion-card>
    <ion-card-header>
      Informacion de Pago
    </ion-card-header>
    <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Moneda</ion-label>
                <ion-input [(ngModel)]="payment.currency" disabled="true"></ion-input>



              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-label>Cantidad</ion-label>
                <ion-input placeholder="$0.00" type="numeric" [(ngModel)]="payment.amount"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          </ion-grid>
    </ion-card-content>
  </ion-card>
<br>
<ion-button expand="full" (click)="postPayment()">
  Pagar
</ion-button>
  
</ion-content>